#URLs
VITE_BACKEND_URL=http://0.0.0.0:8001
VITE_FRONTEND_EXTERNAL_URL=http://0.0.0.0:5174

#Backend API-key
VITE_API_KEY=0

#Flag for checking if path for compressed file
VITE_COMPRESSED_PATH=true
VITE_ABSTRACT_PATH=false
