# Frontend settings
INTERNAL_FRONTEND_URL=http://f-reposit:5173
EXTERNAL_FRONTEND_URL=http://10.6.41.149:5174
FRONTEND_PORT=5174

# DB configuration
DB_USER=postgres
DB_PASSWORD=65LabDy
DB_NAME=repositorium
DB_HOST=localhost
DB_PORT=5434

# LLM configuration
TAG_EXTRACTION_PROMPT=Выдели от четырех до восьми ключевых слов в том числе именованные сущности из текста, которые отражают его тематику. Представь их в виде списка слов через запятую, все слова должны быть полными (то есть не допускается обрыв слова). Напиши только список и без нумерации, тэги должны быть в именительном падеже,исключи одиночные прилагательные (т.е. те которые не связаны в с существительным) из списка ключевых слов.
OLLAMA_PORT=11434
LLM_NAME=gemma4:e2b
LLM_TEMPERATURE=0.3

# Sentence transformer name
SENTENCE_TRANSFORMER_MODEL_NAME=nanalysenko/DeepPavlov_for_Panacea

# Backend API-key
INTERNAL_BACKEND_API_KEY=66

# Minio settings
MINIO_ROOT_USER=3AM3UQ867SPQQA43P2F
MINIO_ROOT_PASSWORD=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
MINIO_BUCKET_NAME_COMPRESSED=compressed
MINIO_BUCKET_NAME_ABSTRACT=abstract

# GQW-settings
MAX_PAGES_IN_GQW=92