FRONTEND_URL=http://localhost:5174

DB_USER=postgres
DB_PASSWORD=gol
DB_NAME=repositorium
DB_HOST=localhost
DB_PORT=5434

TAG_EXTRACTION_PROMPT=Выдели от четырех до восьми ключевых слов в том числе именованные сущности из текста, которые отражают его тематику. Представь их в виде списка слов через запятую, все слова должны быть полными (то есть не допускается обрыв слова). Напиши только список и без нумерации, тэги должны быть в именительном падеже,исключи одиночные прилагательные (т.е. те которые не связаны в с существительным) из списка ключевых слов. Если тэг не является именем собственным или аббревиатурой, то он должен быть в нижнем регистре
OLLAMA_PORT=11434
LLM_NAME=smollm2