fastapi==0.141.1
miniopy_async==1.23.5
pdfminer_six==20251107
pgvector==0.4.2
psycopg2_binary==2.9.10
pydantic==2.13.5
PyPDF2==3.0.1
python-dotenv==1.2.3
reportlab==4.4.7
Requests==2.34.2
sentence_transformers==5.0.0
SQLAlchemy==2.0.54
uvicorn==0.53.0
asyncpg
python-multipart